# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Environment variables
.env

# Jupyter Notebooks
.ipynb_checkpoints

# Large Data & Models
*.csv
*.joblib
training_report.txt
